#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
# * Security setting to comply PSA MySQL requirements
safe-user-create
#
# * Fine Tuning based on https://prelovac.com/vladimir/wordpress-optimization-guide
# * originally tuned in for 4GB, quad-core dedicated machine
# * optimized for kubernetes instances with 1/2 core and 512 MBit memory
#
max_allowed_packet=16M
thread_cache_size=64
bulk_insert_buffer_size = 8M
connect_timeout=10
interactive_timeout=50
max_connect_errors=10
max_connections=100
max_heap_table_size = 32M
myisam_sort_buffer_size=96M
read_buffer_size=1M
read_rnd_buffer_size=768K
safe-show-database
skip-innodb
skip-locking
skip-networking
sort_buffer=1M
table_cache=4096
thread_concurrency=8
tmp_table_size = 32M
wait_timeout=500
#
#
# * Query Cache Configuration
#
query_cache_type = 1
query_cache_limit = 1M
query_cache_size = 16M
query_prealloc_size = 65K
query_alloc_block_size = 128K
#
#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
# general_log_file        = /var/log/mysql/mysql.log
# general_log             = 1
#
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log
#
# Here you can see queries with especially long duration
#log_slow_queries   = /var/log/mysql/mysql-slow.log
#long_query_time = 2
#log-queries-not-using-indexes
